* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {

}

.nav.navbar-nav.navbar-right li a {
    color: #00cc99;
}

.header {
	position: fixed;
	width: 100%;
	background: #222;
	z-index: 10;
}
.header .navbar-brand {
	font-weight: 900;
    color: #00cc99;
}
.header .navbar {
	margin: 0;
	border: none;
    padding-left: 20px;
    padding-right: 20px;
}
.page-section {
	width: 100%;
	min-height: 800px;
	padding: 50px 0;
	
}
.page-section h1 {
	font-size: 4em;
	margin: 50px 0;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	font-size: 3em;
	font-weight: 900;
	color: #fff;
	margin: 0 0 30px;
	text-shadow: 2px 2px 2px #000;
}
.page-section p {
	font-size: 1.2em;
	font-weight: 200;
	margin: 0 25% 20px 0;
}
.page-section p.lead {
	font-size: 1.8em;
}

.page-section#intro {
	height: 100px;
    background: url(resources/img/background.jpg) bottom center no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-circle {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    
}
.center-intro {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    text-align: center;
}

.font-awesome-logos {
    color: #00cc99;
}

.center-intro h2 {
    color: #00cc99;
}

.center-intro h3 {
    color: #00cc99;
    margin-top: -20px;
}

.page-section#skills {
	height: 100px;
    background-color: ##f0f5f5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.center-skills  {
    text-align: center;
    margin-top: -20px;
}

.bar-skill {
  background: rgba(77, 87, 99, 0.13);
  padding: 1px;
  border-radius: 4px;
  border: 3px solid black;
  
}

.this-skill {
  height: 28px;
  border-radius: 3px;
}

.img-skill {
    height: 35px;
}

.title-skill {
  font-size: 25px;
  color: black;
  text-align: left;
}
/* -----      Colors for Skills     ------*/

.skill-red {
    background-color: #F53440;
}

.skill-yellow {
    background-color: #FFEB3B;
}

.skill-blue {
    background-color: rgb(9, 137, 231);
}


/* -----      Skill Percent Bars    ------*/
.skill-forty-five {
    width: 45%;
}

.skill-fifty-five {
    width: 55%;
}

.skill-sixty {
    width: 60%;
}

.skill-seventy {
    width: 70%;
}

.separ {
  margin-top: 50px;
}



@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
	.navbar-nav {
		float: right;
	}
}
@media (max-width: 480px) {
	.page-section h1 {
		font-size: 3em;
	}
	.page-section h2 {
		font-size: 2em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
}



