* {
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {

}

.nav.navbar-nav.navbar-right li a {
    color: #00cc99;
}

.header {
	position: fixed;
	width: 100%;
	background: #222;
	z-index: 10;
}
.header .navbar-brand {
	font-weight: 900;
}
.header .navbar {
	margin: 0;
	border: none;
}
.page-section {
	width: 100%;
	min-height: 800px;
	padding: 50px 0;
	
}
.page-section h1 {
	font-size: 4em;
	margin: 50px 0;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	font-size: 3em;
	font-weight: 900;
	color: #fff;
	margin: 0 0 30px;
	text-shadow: 2px 2px 2px #000;
}
.page-section p {
	font-size: 1.2em;
	font-weight: 200;
	margin: 0 25% 20px 0;
}
.page-section p.lead {
	font-size: 1.8em;
}

.page-section#intro {
	height: 100px;
    background: url(/resources/img/background.jpg) bottom center no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-pic {
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
	.navbar-nav {
		float: right;
	}
}
@media (max-width: 480px) {
	.page-section h1 {
		font-size: 3em;
	}
	.page-section h2 {
		font-size: 2em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
}



